rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow all read and write access for the demo app
    match /students/{studentId} {
      allow read, write: if true;
      match /schedules/{scheduleId} {
      allow read, write: if true;
    }
  }
    match /classes/{classId} {
      allow read, write: if true;
    }
    match /users/{userId} {
      allow read, write: if true;
    }
    match /schoolYears/{schoolYearId} {
      allow read, write: if true;
    }
  }
}
